{% extends 'base/base.html' %}

{% load static %}



{% block reg_log %}

    <main class="px-3">
    <link rel="stylesheet " href="{% static 'css/base/Information_styles.css' %}">
    <h1>Страница помощи</h1>
        <p class="lead" >

        </p>
        <div class="grid" style="--bs-columns: 12;">
            <div class="g-col-6">6 of 12
            <p class="lead" >
Вот наш справочный номер для связи в экстренных случаях: +7 777 777 77 77
            </p>
            </div>


        </div>



    <p class="lead">
    </main>
{% endblock %}
