{% extends 'accounts/base.html' %}

{% load static %}

{% block Title %}
    Вход
{% endblock %}


{% block Content %}
    <head>
        <meta charset="utf-8">
        <link rel="canonical" href="{% static 'css/accounts/login' %}">

        <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base/Main_page.css' %}" rel="stylesheet">


        <style>

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link href="{% static 'css/accounts/login.css' %}" rel="stylesheet">
    </head>

    <body class="text-center">
    <header>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Ошибка! - </strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </header>
    <main class="form-signin">
        <form method="POST" action="">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Вход в аккаунт</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="myEmail" placeholder="email" name="myEmail">
                <label for="myEmail">Почта</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="myPassword" placeholder="Password" name="myPassword">
                <label for="myPassword">Введите пароль</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
    </main>

    </body>
    </html>
{% endblock %}