{% extends 'cabinet/base.html' %}
{% load static %}


{% block Title %}
    Рабочий
{% endblock %}

{% block Content %}
    <h3>Личный кабинет рабочего {{ myGroup }}</h3>
    {% if myData.count > 0 %}
        <table>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Подзадачи</th>
                <th>Ответственный</th>
                <th>Люди</th>
                <th>Статус</th>
                <th>Время</th>
                <th>Выполнено</th>

            </tr>
            {% for task in myData %}
                <tr>
                    <td>{{ task.task_id }} </td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.subtasks }}</td>
                    <td>{{ task.contributor }}</td>
                    <td>{{ task.people }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.timing }}</td>
                    <td>{{ task.donebyworker }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block Profile %}
    <body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ myName }}</h5>
                            <p class="text-muted mb-1">{{ userGroup }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Имя</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ userName }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Почта</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Пароль</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-muted mb-0">*********</p>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Бригада</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-muted mb-0">{{ userGroup }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="container">
                            <header class="d-flex justify-content-center pt-1">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark me-4" data-bs-toggle="modal"
                                           data-bs-target="#modalChangePassword" href="#">Сменить
                                            пароль</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark" href="{% url 'home_page:about' %}">Сменить
                                            бригаду</a>
                                    </li>
                                </ul>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
