{% extends 'cabinet/base.html' %}
{% load static %}


{% block Title %}
    Рабочий
{% endblock %}

{% block Content %}
    <div class="table-responsive">
        <table class="table table-striped custom-table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Ответственные</th>
                <th scope="col">Люди</th>
                <th scope="col">Время</th>
                <th scope="col"></th>
                <th scope="col">Выполнено</th>
            </tr>
            </thead>
            <tbody>
            {% for task in myData %}
                <tr scope="row">
                    <td>
                        {{ task.name }}
                        <small class="d-block">{{ task.subtasks }}</small>
                    </td>
                    <td>
                        {{ task.contributor }}
                    </td>
                    <td>{{ task.people }}</td>
                    <td>{{ task.timing }}</td>
                    <td>
                        <a href={{ task.task_id }} class="more" data-bs-toggle="modal"
                           data-bs-target="#modalDetails">Details</a></td>
                    <td>
                        <label class="control control--checkbox">
                            <input type="checkbox"/>
                            <div class="control__indicator"></div>
                        </label>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modalDetails" tabindex="-1" aria-labelledby="О задаче" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Информация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section style="background-color: #eee;">
                        <div class="container py-5">
                            {% for task in myData %}
                                {% if task.task_id == 1921970400 %}
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Задача</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ task.name }}</p>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Подзадачи</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ task.subtasks }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <p class="mb-0">Ответственные</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ task.contributor }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Люди</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ task.people }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Дедлайн</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ task.timing }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="mb-0">Статус задачи</p>
                                        </div>
                                        <div class="col-sm-6">
                                            {% if task.donebyworker == 0 %}
                                                <p class="text-muted mb-0">Не сделано</p>
                                            {% else %}
                                                <p class="text-muted mb-0">Выполнено</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Profile %}
    <body>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ myName }}</h5>
                            <p class="text-muted mb-1">{{ userGroup }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Имя</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ userName }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Почта</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Пароль</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-muted mb-0">*********</p>
                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Бригада</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ userGroup }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="container">
                            <header class="d-flex justify-content-center pt-1">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark me-4" href="{% url 'user:change_password' %}">Сменить
                                            пароль</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-outline-dark" href="{% url 'home_page:about' %}">Сменить
                                            бригаду</a>
                                    </li>
                                </ul>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}

{% block ChangePassword %}
    <section style="background-color: #eee;">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="card mb-0">
                        <div class="card-body">
                            <form method="POST" class="change-password">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="oldPassword" class="form-label">Введите старый
                                        пароль</label>
                                    <input type="password" id="oldPassword" class="form-control"
                                           placeholder="...">
                                </div>
                                <hr>
                                <div class="mb-3">
                                    <label for="newPassword1" class="form-label">Введите новый
                                        пароль</label>
                                    <input type="password" id="newPassword1" class="form-control"
                                           placeholder="Пароль должен содержать от 8-20 символов">
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword2" class="form-label">Повторите новый
                                        пароль</label>
                                    <input type="password" id="newPassword2" class="form-control"
                                           placeholder="Введите новый пароль еще раз">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid d-sm-flex justify-content-sm-center gy-4">
                    <button id="change_password" type="submit" class="btn btn-outline-dark btn-">Поменять
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
