{% extends 'cabinet/base.html' %}

{% block Title %}
    Руководитель
{% endblock %}

{% block Content %}
    <h3>Личный кабинет Руководителя</h3>
    {% if workTask.count > 0 %}
        <table>
            <tr>
                <th>Название</th>
                <th>Подзадачи</th>
                <th>Ответственный</th>
                <th>Статус</th>
                <th>Время</th>
                <th>Ref</th>
            </tr>
            {% for task in workTask %}
                <tr>
                    <td> {{ task.name }}</td>
                    <td>{{ task.subtasks }}</td>
                    <td>{{ task.contributor }}</td>
                    <td>{{ task.status }}</td>
                    <td> {{ task.time }}</td>
                    <td>{{ task.ref }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
