html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
}

.form-signin {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="password"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="name"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="surname"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="password1"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="password2"] {
    margin-bottom: 8px;
    border-radius: 22px;
}

.form-signin input[type="access_code"] {
    margin-bottom: 8px;
    border-radius: 22px;
}
